.wrapper {
	height: 100vh;
	display: grid;
	margin: 6rem 0;
}
.login {
	margin-bottom: 14rem;
}
.createWrapper {
	margin-top: 1.4rem;
	font-size: 1.7rem;
	display: flex;
	flex-direction: column;
	gap: .2rem;
}
.createWrapper p {
	color: var(--gray-6);
}
.create {
	color: var(--purple);
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
	margin-left: .8rem;
}
.create:hover {
	text-decoration: underline;
}